{% extends 'autoseo/base.html' %}

{% load static %}

{% block title %} 
Pricing | Website Development & SEO Services | Kriangle
{% endblock %}

{% block content %}

      <!-- pricing section start -->
      <div class="pricing_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="pricing_taital">Find a Price</h1>
               </div>
            </div>
            <div class="pricing_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div class="pricing_box">
                        <h6 class="regular_text">SEO</h6>
                        <div class="taital_main">
                           <h3 class="dolor_text">$</h3>
                           <h1 class="dolor_text_1">200</h1>
                           <p class="month_text">/Per Month</p>
                        </div>
                        <p class="using_text">SEO for 5 keywords is $200. Additional keywords and customizations are priced accordingly.</p>
                        <div class="readmore_bt"></div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="pricing_box active">
                        <h6 class="regular_text">Website</h6>
                        <div class="taital_main">
                           <h3 class="dolor_text">$</h3>
                           <h1 class="dolor_text_1">500</h1>
                           <p class="month_text">With 6 pages</p>
                        </div>
                        <p class="using_text">Standard 6-page CMS website. Additional pages priced accordingly.</p>
                        <div class="readmore_bt active"></div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="pricing_box">
                        <h6 class="regular_text">IT support</h6>
                        <div class="taital_main">
                           <h3 class="dolor_text">$</h3>
                           <h1 class="dolor_text_1">30</h1>
                           <p class="month_text">/Per Hour</p>
                        </div>
                        <p class="using_text">Services include Scrum Master, Coding, Deployment, and QC.</p>
                        <div class="readmore_bt"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- pricing section end -->
  
{% endblock %}